.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* heroSection */

.img img{
  height: 300px;
}

.img{
  border-radius: 50%;
  height: 350px;
  width: 350px;
  margin: auto;
  justify-self: center;
  
}

.col-right{
  padding-right: 60px !important;
  contain: content;
}

/* HeroSection */

.img{
  border-radius: 50%;
  height: 280px;
  width: 280px;
  margin: auto;
  justify-self: center;
}
.img img{
  height: 270px;
}
.img {
  overflow: hidden !important;
  object-fit: cover;
  height: 270px;
  width: 270px;
}

.logo{
  background: -webkit-linear-gradient(#c9d6ff, #b20a2c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #642b73,#20e3b2, #f16529);
}

/* HeroSection */

@media screen and (max-width: 400px) {
  .MainPage{
    max-width: fit-content;
  }
  .img{
    border-radius: 50%;
    height: 280px;
    width: 280px;
    margin: auto;
    justify-self: center;
  }
  .img img{
    height: 270px;
  }
  .img {
    overflow: hidden !important;
    object-fit: cover;
    height: 270px;
    width: 270px;
  }
}